*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Jost', sans-serif;
    color: #333136;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
ul{
    list-style: none;
    padding-left: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
h1, h2, h3, h4{
    font-size: inherit;
}

.header .container{
    height: 155px;
    
}
.container{
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    line-height: 0;
}
.header__logo{
    width: 200px;
    height: 27px;
}
.menu{
    gap: 42px;
}
.menu a{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 14px;
    transition: text-decoration-line .5s ease-in-out;
}
.menu a:hover{
    text-decoration-line: underline;
}

.main{
    max-width: 1440px;
    margin: 0 auto;
    background: url(../assets/images/body_bg_top.png), url(../assets/images/body_bg_bot.png);
    background-repeat: no-repeat;
    background-position: left top 320px, right bottom 75px;
}

.hero{
    min-height: 640px;
    border-radius: 15px;
    
    padding: 0 95px;
    color: #FFF;

    background: url(../assets/images/hero_smart.png), url(../assets/images/hero_bg_circle.png) #E7816B;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.hero__content{
    max-width: 540px;
}
.hero__content h1{
    min-height: 165px;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 11px;
}
.hero__content p{
    margin-bottom: 40px;
}
.hero__content a,
.touch a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    min-height: 56px;
    color: #333136;
    border-radius: 8px;
    background-color: #FFF;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hero__content a:hover,
.touch a:hover{
    color: #FFF;
    background-color: #FFAD9B;

}

.products{
    /* padding: 160px 0 0; */
    min-height: 960px;
    
}

.products__content{
    width: 100%;
    display: flex;
    gap: 30px;
    text-transform: uppercase;
}

.products__content article div{
    border-radius: inherit;
    width: inherit;
    height: 100%;
    transition: background .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.products__content article:hover div{
    background-color: hsl(11, 72%, 66%, 0.8);
}

.products__content-item{
    width: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    
}
div.products__content-item article.product:nth-child(1){
    background-image: url(../assets/images/app.jpg);

}
div.products__content-item article.product:nth-child(2){
    background-image: url(../assets/images/graphic.jpg);

}

div.products__content-item article.product{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.products__content-item.product{
    min-height: 640px;
    background-image: url(../assets/images/web.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
/* .products__content-item.product:hover{
    background-color: #E7816B ;
    background-image: url(../assets/images/web.png);
} */



.product{
    max-width: 540px;
    width: 100%;
    height: 308px;
    border-radius: 15px;
    color: #FFF;

    
    
}

.product div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.product div h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 2px;
}
.product div a{
    /* font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
    padding-right: 26px; */

    background-image: url(../assets/images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

.product div a h3{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
    padding-right: 26px;
}


.props{
    gap: 30px;
    text-align: center;
    min-height: 792px;
    align-items: flex-start;
}

.props__item{
    max-width: 350px;
}

.props__item img {
    margin-bottom: 48px;
}
.props__item h2{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 32px;
}






.footer{
 background-color: #1D1C1E;
 min-height: 393px;
 position: relative;
 padding: 144px 0 0;
}

.touch{
    max-width: 1110px;
    width: 100%;
    top: -220px;
    border-radius: 15px;
    min-height: 292px;
    position: absolute;
    color: #FFF;

    padding: 0 95px;

    background: url(../assets/images/footer-bg.png) #E7816B;
    background-repeat: no-repeat;
    background-position: right center;

    
    flex-wrap: wrap;
    column-gap: 300px;
}

.touch__text{
    max-width: 460px;
}

.touch__text h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 25px;
}

.footer__content{
    margin-bottom: 72px;
    position: relative;
}

.footer__menu{
    color: #FFF;
    gap: 42px;
    font-size: 14px;
    line-height: 14px; 
    letter-spacing: 2px;
}

.footer__content::after{
    content: '';
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 1px;
    background: hsl(0, 0%, 100%,);
    opacity: 0.5;
}

.info{
    color: hsl(0, 0%, 100%, 0.5);
    align-items: flex-end;
}

.info__item{
    width: 350px;
    /* gap: 30px; */
}
.info__item h2{
    font-weight: 700;
    
}
.info__item a{
    font-weight: 700;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact__icons{
    height: 24px;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    flex-grow: 1;
}

.info__item-icon{
    width: 24px;
    height: 24px;
    fill: #E7816B;
    transition: fill 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.info__item-icon:hover{
    fill: #FFAD9B;
}



/* web desing  */

.main__web-desing{
    background: url(../assets/images/body_bg_top.png);
    background-repeat: no-repeat;
        background-position: left top 126px;
}

.web-desing div.products__content-item{
    flex-direction: row;
}

.web-desing__touch{
    /* max-width: 1110px; */
    width: 100%;
    border-radius: 15px;
    min-height: 252px;
    color: #FFF;

    padding: 0 95px;

    background: url(../assets/images/web-circle.png) #E7816B;
    background-repeat: no-repeat;
    background-position: right center;

    column-gap: 300px;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.web-desing__touch h2{
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 24px;
}
.web-desing__touch p{
    min-width: 409px;
}

.card{
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px 30px;
}

.card__item{
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.card__item img{
    display: block;
    border-radius: 15px 15px 0 0;
    
}

.card__item-text{
    padding: 32px;
    height: 158px;
    background-color: #FDF3F0;
    border-radius: 0 0 15px 15px;
}

.card__item-text h2{
    color: #E7816B;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.card__item:hover .card__item-text{
    background-color: #E7816B;
    color: #FFF;
}
.card__item:hover .card__item-text h2{
    color: #FFF;
}



.web-desing section.products {
    min-height: 848px;
    align-items: flex-start;
    padding-top: 160px;
}